header.header
    nav
        a(href='/') All Movies
        span &nbsp
        a(href='#') All Releases
        span &nbsp
        a(href='#') ToDO
        span &nbsp
        a(href='/') Statistics
    div ICON
    div
        span.head1 Movies Collector
        span &nbsp
        span.head2 Home movies helper
    //- .header__logo
    //-     img(src='/img/logo-white.png' alt='Natours logo')
    nav
        input(type='text' placeholder='Search')