extends base

block content
    h1 Batchload
    p
        h2 Movies
        div
            textarea(id='inputLinks' placeholder='imdb links here (seperated by comma)...')
            button browse
        button Load
    p
        h2 Release
        div
            textarea(id='inputLinks' placeholder='Release JSON array here...')
        button Load
