
extends base

block content
    h2 counts
    h2 count movies category section
    h3 table kids clasics
    h2 movies count by status
    h2 movies duration duration
    h2 my movies duration

    script(src='/js/statistics.js')
