extends base

block content
    main.main
        .my-text
            each movie in movies
                p
                    a(href='#')=movie.displayTitle
                    a.btn.btn--green.btn--small(href=`/movie/${movie.slug}`)=`${movie.displayTitle} Details`

           
//- block content
//-     main
//-         each movie in movies
//-             p
//-                 a(href='#')=movie.displayTitle