extends base

block content
    h2 counts
    h3 movies
    h3 releses
    h2 count movies category section
    h3 table kids clasics
    h2 movies count by status
    h2 releases count by status
    h2 movies duration duration
    h2 my releases duration
    h2 all releases duration
